<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Home Appliances control</display-name>
    <description>
	This is web application was designed to monitor and control smart and non-smart home appliances.
    </description>

    	<servlet>
        	<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.main</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
        	<servlet-name>AuthServlet</servlet-name>
		<servlet-class>com.auth</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
        	<servlet-name>WifiServlet</servlet-name>
		<servlet-class>com.wifi</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>WifiServlet</servlet-name>
		<url-pattern>/wifi</url-pattern>
	</servlet-mapping>

</web-app>
